<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="text-center">
          <h1>Signup</h1>
          <h6>Register !!</h6>
        </div>

        <!-- Add the 'novalidate' attribute to disable HTML5 validation -->

        <form [formGroup]="signupForm" (ngSubmit)="signUp()" novalidate>
          <div class="mb-1">
            <label for="exampleInputPassword2" class="form-label">Full Name</label>          
            <input formControlName="fullName" type="text" class="form-control" id="exampleInputPassword2" required>
          </div>

          <div class="mb-1">
            <label for="exampleInputPassword3" class="form-label">Mobile Number</label>
            <input formControlName="mobile" type="tel" class="form-control" id="exampleInputPassword3" required pattern="[0-9]+">
            <div class="form-text text-danger">*Should be numeric of length 10</div>
          </div>

          <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            <div class="form-text text-danger">*Email is required</div>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>

          <div class="mb-1">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" required minlength="6">
            <div class="form-text text-danger">*Password should be length of 6</div>       
          </div>

          <div class="mb-1">
            <label for="exampleInputRole" class="form-label">Role</label>
            <select formControlName="role" class="form-select" id="exampleInputRole" aria-label="Select Role" required>
              <option value="">Select Role</option>
              <option value="user">User</option>
              <option value="admin">Admin</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Signup</button>
        </form>
        <a routerLink="/login">Already registered? Click to login!</a>
      </div>
    </div>
  </div>
</div>